
/* Right Side */
.kh7kg01d{
	background: #2E3136 !important;
	color: #b2b3b8 !important;
}
.b5q2rw42{
	background: #2E3136 !important;
}
/* Chats top left */
.cjfnh4rs{	
	background: #2E3136 !important;
}
/* Chats text*/
h1 {
	color: #F2F3F5 !important;
}
/*Person's Name*/
.a5q79mjw{
	color: #F2F3F5 !important;
}
/* Messages/Person */
.ltmttdrg{
	color: #b2b3b8 !important;	
	border-color: rgba(223, 224, 230, 0.10) !important;
}
/* Drop Down Menus*/
.hzawbc8m{
	color: #b2b3b8 !important;	
}
/* Edge of Message List*/
.f10w8fjw{
	border-color: red !important;
}
/* Messages Center*/
.jn8vp64t{
	background: #2E3136 !important;
}
/* Dates */
.pipptul6{
	background: #2E3136 !important;
}

/*Chat bar + send recipts*/
/* .aovydwv3{
	background: #2E3136 !important;
}
.ewlkfwdl{
	background: #2E3136 !important;
}	 */
/* .g5ia77u1{
	background: #2E3136 !important;
} */
.rl04r1d5{
	background: #2E3136 !important;
}
/* .h9e7qa53{
	background: #2E3136 !important;
} */
/*.a5h7je3r{
	background: #2E3136 !important;
}*/
/*.pby63qed {
	background: #2E3136 !important;
}*/

/* replies BG*/
.n5yhfkqm{
	background: #2E3136 !important;
}	
.nred35xi{
	background: #2E3136 !important;
}
.khkgorpb{
	background: var(--messenger-reply-background) !important;
}


/* chat input bar */
/*.jinzq4gt {
 background: #373A40 !important;
}*/

._1mf{
	color: #F2F3F5 !important;	
}

.cwj9ozl2{
	background: #2E3136 !important;
	color: #F2F3F5 !important;	
}

/* .oo9gr5id{ */
	/* color: #F2F3F5 !important;	 */
/* } */
/* .m9osqain{ */
	/* color: #F2F3F5 !important;	 */
/* } */